body{
    background: #D7EEFF	;
    font-size: 30px;
}

.heading{
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #191970;
    padding-top: 1%;
    padding-bottom: 1%;
}

.heading span{
    color: #FF1A6F;
}

.heading span1{
    color: #FF82B2;
}

.icon img{
    padding-top: 3%;
}

.icon span{
    color: #8EF1FF;
}

.heading2 h2{
    padding-top: 5%;
}

.work_detail h2{
    padding-top: 10%;
}

.work_detail p{
    padding-top: 2%;
}

.work_detail ul p{
    padding-left: 5%;
}

.good_office h2{
    padding-top: 5%;
}

.good_office span{
    color: #FF82B2;
}

.good_office span2{
    font-size: 60px;
}

.last h2{
    padding-top: 5%;
}

footer{
    padding-bottom: 15%;
    background: #93FFAB;
}
