body{
    background: #D7EEFF	;
}

.heading{
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #191970;
    padding-top: 1%;
    padding-bottom: 1%;
}

.heading span{
    color: #FF1A6F;
}

.heading span1{
    color: #FF82B2;
}

.first{
    padding-top: 2%;
}

.heading2 h2{
    padding-top: 5%;
}

.work_detail h2{
    padding-top: 5%;
}
